<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}} | {{{seriesName}}} (BATO.TO Reader)</title>
    <style>
        img, select {
            width: 100%;
        }
    </style>
    <script>
        function selectChapter(e) {
            window.location = '/chapter/{{{urlthing}}}'+e;
        }
    </script>
</head>
<body>
    {{{selector}}}
    <br>
    <b>{{{title}}} | {{{seriesName}}}</b>
    <br>
    <a href="{{prevEpi}}"><button>Previous</button></a>
    <a href="/chapter/{{chapter}}/chapters"><button>Chapter Select</button></a>
    <a href="{{nextEpi}}"><button>Next</button></a>
    <form>
        <input type="checkbox" id="split-pages" name="p" value="1"{{splitchecked}}><label for="split-pages"> Split pages</label>
        <input type="number" id="split-pages-length" name="l" min="1" max="{{imageslength}}" value="{{splitlength}}">
        <button type="submit">Load</button>
        {{{count}}}
    </form>
    {{{images}}}
    {{{selector}}}
    <br>
    <b>{{{title}}} | {{{seriesName}}}</b>
    <br>
    <a href="{{prevEpi}}"><button>Previous</button></a>
    <a href="/chapter/{{chapter}}/chapters"><button>Chapter Select</button></a>
    <a href="{{nextEpi}}"><button>Next</button></a>
</body>
</html>