<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BATO.TO Reader</title>
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <b>{{{title}}}</b>
    <a href="{{prevEpi}}"><button>Previous</button></a>
    <a href="{{nextEpi}}"><button>Next</button></a>
    {{{images}}}
    <b>{{{title}}}</b>
    <a href="{{prevEpi}}"><button>Previous</button></a>
    <a href="{{nextEpi}}"><button>Next</button></a>
</body>
</html>